@import "mixins";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    margin-left:240px;
    margin-right:240px;
}

input{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.app-wrapper{
   
    /* 1.header section */
    #header{
        width: auto;
        background: #fcdb00;
        height: 70.4vh;
        .main-nav{

            display: flex;
            flex-direction: row;
            .logo-box{
                flex: 1;
                
                .logo{
                    display: inline-block; 
                }
                .brandname{
                    display: inline-block;
                    text-align: center;
                    transform: translateY(-15px);
                }
            }
    
            .wrapper{
                flex: 1;
                ul{
                    list-style-type: none;
                    width:100%;
                    @include clearfix;
                }
                li{
                    float: left;
                    width: 14%;
                }
                a{
                    color:#000;
                    text-decoration: none;
                    padding: 16px;
                    display: block;
                    text-align:center;
                }
            }
            
        }
    
        .lead-banner{
            display: flex;
            flex-direction: row;
            .lead-banner-left{
                flex: 1;
            }
            .lead-banner-right{
                flex: 1;
            }
        }
    }

    
    /* 2.features section */
    #features{
        width: auto;
        background: #fff;
        height: 70.4vh;
        .feature-wrapper{ 
            .banner-text{
                text-align: center;
            }
            .feature-boxes{
                display: flex;
                flex-direction: row;
                flex-wrap:wrap;
                .box{
                    flex-basis: 33.333%;
                }
            }
        }
    }

    /* 3.footer section */
    #footer{
        width: auto;
        background: #000;
        height: 70.4vh;
        color:#fff;

        .footer-banner-text{
            text-align:center;
        }
        .socials{
            text-align: center;
            color:#fff;
            a{
                color:#000;
                padding: 20px;
                font-size: 30px;
                width: 50px;
                text-decoration: none;
                margin: 5px 2px;
                background-color: #fcdb00;
            }         
        }
        .pages{
            display: flex;
            flex-direction: row;
            .page{
                flex-basis:20%;
                ul{
                    list-style-type: none; 
                }
            }
        }
    }

}

/* media queries for responsive design */
@media screen and (max-width: 925px) {

}

