* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.app-wrapper {
  /* 1.header section */
  /* 2.features section */
  /* 3.footer section */
}

.app-wrapper #header {
  width: auto;
  background: #fcdb00;
  padding-bottom: 105px;
  overflow: hidden;
}

.app-wrapper #header .logo-box {
  max-width: 930px;
  margin: 0 auto;
  display: inline-block;
  padding-left: 23%;
}

.app-wrapper #header .logo-box .logo {
  display: inline-block;
}

.app-wrapper #header .logo-box .brandname {
  display: inline-block;
  text-align: center;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.app-wrapper #header .main-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  align-content: center;
  -webkit-box-align: center;
          align-items: center;
  max-width: 930px;
  margin: 0 auto;
  padding: 30px 90px;
}

.app-wrapper #header .lead-banner {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
  -webkit-box-pack: center;
          justify-content: center;
  justify-items: center;
  padding: 0px 100px;
}

.app-wrapper #header .lead-banner .lead-banner-left {
  -webkit-box-flex: 1;
          flex: 1;
  padding-top: 30px;
}

.app-wrapper #header .lead-banner .lead-banner-left h2 {
  padding-bottom: 25px;
  font-weight: bold;
}

.app-wrapper #header .lead-banner .lead-banner-left h4 {
  padding-bottom: 25px;
  color: #4c4e38;
}

.app-wrapper #header .lead-banner .lead-banner-left p {
  padding-bottom: 25px;
  color: #555555;
  font-size: 12px;
}

.app-wrapper #header .lead-banner .lead-banner-left .icons .icon {
  padding-right: 10px;
  color: #000;
}

.app-wrapper #header .lead-banner .lead-banner-right {
  -webkit-box-flex: 1;
          flex: 1;
}

.app-wrapper #header .lead-banner .lead-banner-right .lead-banner-image {
  width: 310px;
  height: auto;
  margin-left: 25px;
}

.app-wrapper #features {
  width: auto;
  background: #fff;
  overflow: hidden;
}

.app-wrapper #features .feature-wrapper {
  padding-bottom: 160px;
}

.app-wrapper #features .feature-wrapper .features-banner-text {
  text-align: center;
  padding-top: 120px;
  max-width: 710px;
  margin: 0 auto;
  padding-bottom: 90px;
}

.app-wrapper #features .feature-wrapper .features-banner-text h1 {
  padding-bottom: 10px;
  font-size: 20px;
}

.app-wrapper #features .feature-wrapper .features-banner-text p {
  color: #656a71;
  font-size: 16px;
}

.app-wrapper #features .feature-wrapper .feature-boxes {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 150px;
}

.app-wrapper #features .feature-wrapper .feature-boxes .box {
  flex-basis: 33.333%;
  padding: 10px;
}

.app-wrapper #features .feature-wrapper .feature-boxes .box .icon {
  float: left;
  height: 100%;
  width: 50px;
  display: block;
}

.app-wrapper #features .feature-wrapper .feature-boxes .box .content {
  padding: 0px 5px 30px 5px;
}

.app-wrapper #features .feature-wrapper .feature-boxes .box .content h2 {
  font-weight: bold;
  font-size: 16px;
}

.app-wrapper #features .feature-wrapper .feature-boxes .box .content p {
  color: #898989;
  font-size: 12px;
  padding-top: 8px;
}

.app-wrapper #footer {
  width: auto;
  background: #000;
  color: #898989;
  overflow: hidden;
}

.app-wrapper #footer .footer-banner-text {
  text-align: center;
  padding-top: 95px;
  max-width: 716px;
  margin: 0 auto;
}

.app-wrapper #footer .footer-banner-text .footer-header {
  padding-bottom: 15px;
}

.app-wrapper #footer .footer-banner-text h2 {
  color: #fcdb00;
  padding-bottom: 20px;
}

.app-wrapper #footer .footer-banner-text p {
  padding-bottom: 20px;
}

.app-wrapper #footer .footer-banner-text .footer-btn-area .btn {
  background: #fcdb00;
  color: #000;
  border-radius: 8px;
  width: 130px;
  margin-left: 15px;
}

.app-wrapper #footer .footer-banner-text .footer-btn-area .footer-email-inp {
  width: 390px;
  border-radius: 8px;
}

.app-wrapper #footer .socials {
  padding-top: 60px;
  text-align: center;
  color: #fff;
}

.app-wrapper #footer .socials a {
  color: #000;
  padding: 7px;
  font-size: 30px;
  text-decoration: none;
  margin: 5px 2px;
  background-color: #fcdb00;
  border-radius: 8px;
}

.app-wrapper #footer .pages {
  padding-top: 60px;
  padding-bottom: 130px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  max-width: 840px;
  margin: 0 auto;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.app-wrapper #footer .pages .page {
  flex-basis: 20%;
}

.app-wrapper #footer .pages .page ul {
  list-style-type: none;
}

@media screen and (max-width: 800px) {
  /* 1.header section */

  #header {
    width: 0 auto;
    background: #fcdb00;
    overflow: hidden;
  }

  #header .main-nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    align-content: center;
    -webkit-box-align: center;
            align-items: center;
    max-width: 930px;
    margin: 0 auto;
    padding: 50px 0px !important;
  }

  #header .main-nav .logo-box {
    padding-left: 10px;
  }

  #header .main-nav .logo-box .logo {
    display: inline-block;
  }

  #header .main-nav .logo-box .brandname {
    display: inline-block;
    text-align: center;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }

  #header .main-nav .wrapper ul {
    list-style-type: none;
    width: 100%;
  }

  #header .main-nav .wrapper ul:after {
    clear: both;
    display: block;
    content: "";
  }

  #header .main-nav .wrapper li {
    float: left;
    flex-basis: 20%;
  }

  #header .main-nav .wrapper li:not(:last-child) {
    padding-right: 6px;
  }

  #header .main-nav .wrapper li:after {
    clear: both;
    display: block;
    content: "";
  }

  #header .main-nav .wrapper a {
    color: #000;
    text-decoration: none;
    display: block;
    text-align: center;
  }

  #header .main-nav .wrapper a:after {
    clear: both;
    display: block;
    content: "";
  }

  #header .lead-banner {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    max-width: 900px;
    margin: 0 auto;
    -webkit-box-pack: center;
            justify-content: center;
    justify-items: center;
    padding: 10px 10px 0px 15px !important;
  }

  #header .lead-banner .lead-banner-left {
    flex-basis: 35% !important;
  }

  #header .lead-banner .lead-banner-left h2 {
    padding-bottom: 25px;
  }

  #header .lead-banner .lead-banner-left h4 {
    padding-bottom: 25px;
  }

  #header .lead-banner .lead-banner-left p {
    padding-bottom: 25px;
  }

  #header .lead-banner .lead-banner-left .icons .icon {
    padding-right: 10px;
  }

  #header .lead-banner .lead-banner-right {
    flex-basis: 60% !important;
  }

  #header .lead-banner .lead-banner-right .lead-banner-image {
    max-width: 90%;
    height: 150px;
    margin-left: 25px;
  }

  /* 2. features section */

  #features {
    width: 0 auto;
    background: #fff;
    overflow: hidden;
  }

  #features .feature-wrapper {
    padding-bottom: 160px;
  }

  #features .feature-wrapper .features-banner-text {
    text-align: center;
    padding-top: 120px;
    max-width: 710px;
    margin: 0 auto;
    padding-bottom: 90px;
  }

  #features .feature-wrapper .features-banner-text h1 {
    padding-bottom: 10px;
  }

  #features .feature-wrapper .features-banner-text p {
    padding: 0px 10%;
  }

  #features .feature-wrapper .feature-boxes {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 50px;
  }

  #features .feature-wrapper .feature-boxes .box {
    flex-basis: 100% !important;
  }

  #features .feature-wrapper .feature-boxes .box .icon {
    float: left;
    height: 100%;
    width: 50px;
    display: block;
  }

  #features .feature-wrapper .feature-boxes .box .content {
    padding: 0px 5px 30px 5px;
  }

  /* 3. footer section */

  .pages {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    max-width: 840px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 130px;
  }

  .pages .page {
    flex-basis: 25% !important;
    padding: 10px;
  }

  .pages .page ul {
    list-style-type: none;
  }
}

a {
  color: #000;
}

/* header */

.header {
  background-color: #fcdb00;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fcdb00;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-weight: bold;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #fcdb00;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
  padding-right: 10%;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (max-width: 800px) {
  .logo-box {
    padding: 0px !important;
  }
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }

  .header li a:not(:last-child) {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

