* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  margin-left: 240px;
  margin-right: 240px;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.app-wrapper {
  /* 1.header section */
  /* 2.features section */
  /* 3.footer section */
}

.app-wrapper #header {
  width: auto;
  background: #fcdb00;
  height: 70.4vh;
}

.app-wrapper #header .main-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.app-wrapper #header .main-nav .logo-box {
  -webkit-box-flex: 1;
          flex: 1;
}

.app-wrapper #header .main-nav .logo-box .logo {
  display: inline-block;
}

.app-wrapper #header .main-nav .logo-box .brandname {
  display: inline-block;
  text-align: center;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.app-wrapper #header .main-nav .wrapper {
  -webkit-box-flex: 1;
          flex: 1;
}

.app-wrapper #header .main-nav .wrapper ul {
  list-style-type: none;
  width: 100%;
}

.app-wrapper #header .main-nav .wrapper ul:after {
  clear: both;
  display: block;
  content: "";
}

.app-wrapper #header .main-nav .wrapper li {
  float: left;
  width: 14%;
}

.app-wrapper #header .main-nav .wrapper a {
  color: #000;
  text-decoration: none;
  padding: 16px;
  display: block;
  text-align: center;
}

.app-wrapper #header .lead-banner {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.app-wrapper #header .lead-banner .lead-banner-left {
  -webkit-box-flex: 1;
          flex: 1;
}

.app-wrapper #header .lead-banner .lead-banner-right {
  -webkit-box-flex: 1;
          flex: 1;
}

.app-wrapper #features {
  width: auto;
  background: #fff;
  height: 70.4vh;
}

.app-wrapper #features .feature-wrapper .banner-text {
  text-align: center;
}

.app-wrapper #features .feature-wrapper .feature-boxes {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
}

.app-wrapper #features .feature-wrapper .feature-boxes .box {
  flex-basis: 33.333%;
}

.app-wrapper #footer {
  width: auto;
  background: #000;
  height: 70.4vh;
  color: #fff;
}

.app-wrapper #footer .footer-banner-text {
  text-align: center;
}

.app-wrapper #footer .socials {
  text-align: center;
  color: #fff;
}

.app-wrapper #footer .socials a {
  color: #000;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;
  background-color: #fcdb00;
}

.app-wrapper #footer .pages {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.app-wrapper #footer .pages .page {
  flex-basis: 20%;
}

.app-wrapper #footer .pages .page ul {
  list-style-type: none;
}

/* media queries for responsive design */

